.App {
  color: white;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.first-page-container {
  background: linear-gradient(360deg, #090839 0%, #565582 100%);
  min-height: 100vh; /* vh unit represents a percentage of the viewport height */
}

.nav-links a {
  color: white;
  text-decoration: none; /* Removes any existing underline */
  margin: 0 1rem;
  cursor: pointer; /* Changes cursor to clicker cursor */
}

.nav-links a:hover {
  text-decoration: underline; /* Adds underline on hover */
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  cursor: pointer;
  font-size: 1.2em; /* Adjust this value to increase the font size */
}

.background-text {
  color: rgba(216, 216, 255, 0.08);
  font-size: 20vw;
  font-family: 'Goldman', serif;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  white-space: nowrap;
  z-index: 0;
}

.App-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 4rem;
  z-index: 2;
}

.nav-links, .nav-logo, .nav-button {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-links {
  justify-content: flex-start;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

.nav-button {
  justify-content: flex-end;
}

.logo {
  height: 35px;
  z-index: 2;
}

.contact-button {
  background: linear-gradient(to right, #090839, #090839);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(5, 4, 47, 0.70);
  z-index: 2;
  font-size: 1.2em;
}

.App-header {
  display: flex;
  align-items: center;
  padding: 2rem;
  z-index: 2;
  position: relative;
}

.subtitle {
  font-size: 1.25rem;
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  z-index: 2;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  z-index: 2;
  margin-left: 7rem;
}

.title {
  width: 100%;
  color: #F0F0FF;
  font-size: 70px;
  font-family: 'Goldman', serif;
  font-weight: 700;
  line-height: 72px;
  word-wrap: break-word;
  margin: 0;
}

.ai-illustration {
  max-width: 50%;
  height: auto;
  z-index: 2;
}

.mission-statement {
  max-width: 600px;
  margin: 1rem 0;
  z-index: 2;
}

.App-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  text-align: center;
  z-index: 2;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .content-container {
    justify-content: space-around;
  }

  .mission-statement {
    margin-right: 2rem;
  }
}

.our-approach {
  background: linear-gradient(360deg, #565582 0%, #090839 100%);
  text-align: center;
  color: #F0F0FF;
  padding: 50px;
  padding-left: 0;
}

.our-approach-title {
  font-size: 50px;
  font-family: 'Goldman', serif;
  font-weight: 700;
  line-height: 37px;
  text-align: left; /* Align title to the left */
  padding-left: 9rem;
}

.rotating-circle-container {
  position: relative;
  height: 130px; /* Adjust as needed */
}

.rotating-circle {
  position: absolute;
  border-radius: 50%;
  transform-origin: center;
  animation: rotate-circle 20s linear infinite;
}

.big-circle {
  width: 130px;
  height: 130px;
  background: linear-gradient(0deg, #090839 0%, #090839 100%), linear-gradient(171deg, rgba(7, 6, 52, 0.60) 0%, #F0F0FF 100%);
  box-shadow: 2px 2px 4px rgba(5, 4, 47, 0.70) inset;
}

.small-circle {
  width: 97px;
  height: 97px;
  left: -16px;
  top: -16px;
  background: #2EEDE1;
  box-shadow: 1px 1px 2.5px rgba(25, 92, 152, 0.50) inset;
}

.section-number {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}



.section-title {
  font-size: 30px;
  font-family: 'Goldman', serif;
  font-weight: 700;
  line-height: 37px;
}

.section-description {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 26px;
}

@keyframes rotate-circle {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.approach-section {
  max-width: 800px; /* or the max-width you prefer */
  margin: 0 auto; /* This centers the section */
}

.approach-item {
  display: flex;
  align-items: center; /* Align items vertically */
  margin: 2rem 0; /* Adjust the margin as needed */
  margin-left: 7rem;
  margin-right: 8rem;
}

.approach-item-mirrored {
  display: flex;
  align-items: center; /* Ensure vertical alignment */
  flex-direction: row-reverse;
  justify-content: space-between; /* Adjust spacing */
}

.approach-item-mirrored .number-circle {
  /* Adjust margins if necessary */
  margin-left: 1rem; /* Space between text and number */
  margin-right: 0;
}

.approach-item-mirrored {
  display: flex;
  align-items: center; /* Ensure vertical alignment */
  justify-content: flex-start; /* Align items to the start of the container */
}

.approach-item-mirrored .number-circle {
  margin-left: 1rem; /* Adjust the left margin for spacing */
  margin-right: 0; /* Adjust the right margin as needed */
}

.approach-item-mirrored .approach-text {
  /* If additional adjustment is needed */
  padding-right: 3rem; /* Adjust padding to control space */
}
.number-circle {
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #081890; /* Your color for the circle */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  position: relative; /* For absolute positioning of the number */
  margin-right: 5rem; /* Space between the circle and text */
  margin-left: 5rem; /* Space between the circle and text */
}

.number-circle::before,
.number-circle::after,
.number-circle > span { /* Style for the third ring */
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130%; /* Increase size */
  height: 190%; /* Adjust size as needed */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(255, 255, 255, 0.5); /* Your color for the ring */
}

.number-circle::before {
  animation: rotate-ring 8s linear infinite;
}

.number-circle::after {
  animation: rotate-ring-ccw 12s linear infinite;
}

.number-circle > span {
  animation: rotate-ring 16s linear infinite;
}

.number-circle::before {
  animation: rotate-ring 10s linear infinite;
}

.number-circle::after {
  animation: rotate-ring-ccw 15s linear infinite; /* Different duration for variation */
}

.number-circle > span { /* Animation for the third ring */
  animation: rotate-ring 20s linear infinite; /* Even more different duration */
}

@keyframes rotate-ring {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes rotate-ring-ccw {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(-360deg); }
}

.approach-item h3 {
  color: #F0F0FF;
  font-family: 'Goldman', serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0.5rem; /* Space between the title and description */
  text-align: left;
}

.approach-item p {
  color: #F0F0FF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  max-width: 40rem;
}

